.patients_background{
                    background-color:#00ccb1;
                    width:17% ;
                    color: white;
                    border-radius: 10px;
                    padding-left:30px ;
                    padding-right:30px ;
                    padding-top:30px ;
                    padding-bottom:30px ;
                    
                    }
.formpad{padding-top:70px ;
       



        }
.sel{
    border: none;
    background: none;
    color: white;
    text-decoration: underline;


    }
.sel option{
            color: black;

           }