::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none; 
}
.flex{
    display: flex;
}
.logo{
    width: 20%;
    height: 20%;
}
.hh{
    margin-left: 10px;
    margin-left: 20px;
    color: #00b39b;
}
.hhh{
    margin-left: 20px;
    color: #ababab;;
}
.hhhh{
    margin-left: 25px;
    margin-right: 20px;
    color: #747474;
}
ul{
    list-style-type:none;
}
.lead{
    margin-top: 15px;

}
.pagetitle{
    color: aqua;
}
.par{

}













.patients_background{
                    background-color:#00ccb1;
                    width:25% ;
                    color: white;
                    border-radius: 10px;
                    padding-left:30px ;
                    padding-right:30px ;
                    padding-top:30px ;
                    padding-bottom:30px ;
                    
                    }
.formpad{
    padding-top:70px ;
       
        }
.sel{
                     border: none;
                     background: none;
                     color: white;
                     text-decoration: underline;
    }
.sel option{
                     color: black;
           }
.doctor_background{
                     background-color: #3d83df;
                     width: 25%;
                     color:whitesmoke ;
                     border-radius: 10px;
                     padding-left:30px ;
                     padding-right:30px ;
                     padding-top:30px ;
                     padding-bottom:30px ;
                     margin-top: 13px;
                     margin-left: 110px;

                     
}           
.formfd{
                     padding-top: 70px;
}
.sel2{
                     border: none;
                     background: none;
                     color: white;
                     text-decoration: underline;
}
.sel2 option{
                     color: black;
}
.clinics{
    background-color:#1b2734 ;
    width: 25%;
    color:whitesmoke ;
    border-radius: 10px;
    padding-left:30px ;
    padding-right:30px ;
    padding-top:30px ;
    padding-bottom:30px ;
    margin-top: 13px;
    margin-left: 110px;
    
}

.forclinics{
    padding-top: 70px;
}
.sel3{
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
    margin-top:34px;
}
.sel3 option{
    color: black;
}
.sel4{
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
    margin-top: 20px;
}
.sel4 option{
    color: black;
}
.titr{
    color: #00ccb1;
    margin-top: 20px;
}
.phot{
    display: flex;
    align-content: flex-start;
}
.wars01{
    
    background-color: white;
    width: 25%;
    height: 50%;   

}
.wars1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

